$graphDefaultColor: #A6D1E1;
$graphDefaultHover: #EAF8FD;
$graphPredicateColor: #81BA88;
$graphPredicateHover: #E2F5E5;
$graphWikiColor: #1677E8;
$graphWikiHover: #DAE9FC;
$fontFamily: 'Roboto', sans-serif;
$fontMediumWeight: 500;
$fontColor: #333333;
$colorInfo: #6D9BE5;
$colorInfoLight: #EAF1FC;
$colorError: #D7373F;
$colorErrorLight: #FFEFEF;
$colorErrorBorder: #C44545;
$colorSuccess: #3EAD34;
$colorSuccessLight: #E8F5E7;
$colorWarning: #EAB421;
$colorWarningLight: #FAF4E4;
$primaryColor: #007EA0;