@import "mainVariables";

@media screen and (max-height: 600px) {
  #logo {
    margin-top: 10% !important;
  }
}

#logo {
  height: auto;
  width: 300px;
  max-width: 50%;
  margin: 15% 40px 60px;
}

.container {
  display: flex;
  width: 100%;
  flex-flow: row;
  flex-grow: 1;
  align-items: center;
  align-self: center;

  &.homepage {
    flex-flow: column;
  }
}

#mainForm {
  max-width: 90%;
}

.main-text-btn-container {
  display: flex;
  flex-flow: row;
  width: 700px;
  max-width: 100%;

  .input-error-container {
    flex-grow: 1;
  }

  .sentence, .penman, .alert {
    margin-bottom: 20px;
  }

  .button {
    margin-left: 10px;
  }
}

.sentence textarea, input {
  &#query { align-self: flex-start; }
}

.input-container {
  width: 50%;
  padding: 21.5px 40px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  form {
    margin-bottom: 20px;
  }

  :last-child {
    margin-bottom: 0;
  }

  .sentence {
    .button {
      margin-left: 10px;
    }
  }

  .penman-form {
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
  }
}

.graph-container {
  flex: 1 1 0;
  height: 100%;
  user-select: none;
  display: flex;
  flex-direction: column;
}

.input-label {
  font-family: $fontFamily;
  font-weight: $fontMediumWeight;
  font-size: 15px;
  color: $primaryColor;
  padding-bottom: 7px;
  border-bottom: 2px solid $primaryColor;
}

.penman-buttons {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .button-mini-outline, .button-mini {
    margin-top: 5px;
    margin-right: 10px;
  }

  .penman-submit:last-child {
    margin-right: 0;
  }

  .generate-btn {
    margin-left: auto;
  }
}

.loading-cursor {
  cursor: wait !important;
}