@import "mainVariables";

.penman, .sentence {
  border-radius: 4px;
  border: 1px solid #EAEAEA;
  color: #333333;
  padding: 10px 15px;
  background-color: #FFFFFF;
  display: flex;
  box-sizing: border-box;

  &:focus-within {
    box-shadow: 0 2px 6px #00000036;
  }

  &.transition {
    border: 1px solid #CCCCCC;
    box-shadow: 3px 3px 5px #00000026;
  }

  &.disabled {
    background-color: #E5E5E5;
    color: #AAAAAA66;
  }

  textarea, input {
    border: none;
    padding: 0;
    font-family: $fontFamily;
    font-weight: normal;
    font-size: 15px;
    flex-grow: 1;
    white-space: pre;

    &:focus {
      outline: none;
    }

    &::placeholder {
      transition: opacity 0.1s;
    }

    &.fade::placeholder {
      opacity : 0;
    }
  }

  textarea {
    resize: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
  }

  input {
    max-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.penman {
  flex-flow: column;
}

.sentence {
  flex-flow: row;
  align-items: center;
}